// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn{

    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-destacar);
    border:2px solid var(--color-destacar);
    color: var(--color-primario);
    font-weight: bold;
    padding:.5rem 2rem;
    font-size: 1.3rem;
    border-radius: 10px;

    &--secundario{
        background-color: unset;
        font-weight: normal;
        color: var(--color-destacar);
        border: 2px solid var(--color-destacar);

        &:hover{
            color: black;
            background-color: white;
        }
    }
}